
@model P7.RestHook.ClientManagement.Models.HookUserClientsRecord



@if (Model != null)
{
    foreach (var client in Model.Clients)
    {
        var url = $"/Clients/{client.ClientId}";

        <a href="@url" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@client.ClientId</h5>
            </div>
            <p class="mb-1">@client.Description</p>
        </a>
    }
}

