/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.glyphicon.glyphicon-plus {
    
    
    border-radius: 50%;
    border: 3px transparent black;
    height: 30px;
    width: 30px;
    background: none;
    transition: color .3s, background .3s;
    /*box-shadow helps soften the choppy circle*/
    box-shadow: 0 0 1px #000, inset 0 0 2px #000;
}
.glyphicon.glyphicon-plus:hover {
    background: #000;
    color: #FFF;
}
.glyphicon.glyphicon-plus:focus {
    border-color: blue;
    outline: none;
}
.glyphicon.glyphicon-plus:active {
    border-color: red;
}
