@page "{clientId?}"
@model RestHookHost.Areas.RestHook.Pages.IndexModel
@{
    var returnUrl = $"/RestHook";
}
@section Style_Head
{
}
<div class="container-fluid">
    <div class="row">
        
        <div class="sidebar3 col-sm-3 ">
            <h3>Clients</h3>
            <div class="list-group">
                @await Component.InvokeAsync("Clients")
            </div>
            <a href="/RestHook/NewClient?newClientReturnUrl=@returnUrl" class="btn btn-default">New Client</a>
       
        </div>
        <div class="main2 col-sm-8 ">
            <h3>Client</h3>
            @await Component.InvokeAsync("Client", new {clientId = @Model.ClientId})
        </div>
    </div>
</div>

@section Scripts
{
   
}